{
  "extends" : "eslint-config-google",
  "parserOptions": {
    "ecmaVersion": 7
  },
  "env": {
    "node": true
  },
  "rules":{
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "key-spacing": ["warn", { "beforeColon": true, "afterColon": true, "align": "colon" }],
    "max-len": ["error", { "ignoreComments": true, "code": 100, "ignoreTrailingComments": true, "ignoreStrings": true }],
    "max-lines": ["error", { "max": 200, "skipComments": true, "skipBlankLines": true }],
    "max-params": ["error", 5],
    "array-bracket-spacing": ["error", "always"],
    "linebreak-style": ["off"],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "space-before-function-paren": ["error", "never"],
    "space-before-blocks": ["error", "never"],
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "keyword-spacing": ["error", { "before": false, "after": false }],
    "no-restricted-syntax": "off",
  }
}
